@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.navLiFonts {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.sec1Title {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}

.subTitle {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.info {
  color: #626262;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.sec2TitleFonts {
  color: #000;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}

.unitTitleFonts {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.unitSubInfoFonts {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.sec3TitleFonts {
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.sec3SubTitleFonts {
  color: #626262;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.sec3MarkersFonts {
  color: #000;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.greyMarker {
  color: #626262;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.sec3TitleFonts {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}
@media screen and (max-width: 1060px) {
  .sec3TitleFonts {
    font-size: 50px;
  }
}

.avatarTitleFonts {
  color: #000;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.avatarKeyFonts {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
@media screen and (max-width: 595px) {
  .avatarKeyFonts {
    font-size: 20px;
  }
}

.hardwareTitleFonts {
  color: #000;
  text-align: right;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.hardwarePropsFonts {
  color: #626262;
  text-align: right;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
@media screen and (max-width: 595px) {
  .hardwarePropsFonts {
    font-size: 19px;
  }
}

.titleTokenFonts {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.buttonChangerTextFonts {
  color: #493045;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.candleNamesFonts {
  color: rgba(73, 48, 69, 0.5);
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.allocationTitleFonts {
  color: #000;
  text-align: left;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.propsItemFonts {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.sec5TitleFonts {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}
@media screen and (max-width: 475px) {
  .sec5TitleFonts {
    font-size: 40px;
  }
}

.footTitleFonts {
  color: #FFF;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}
@media screen and (max-width: 1190px) {
  .footTitleFonts {
    font-size: 46px;
  }
}
@media screen and (max-width: 979px) {
  .footTitleFonts {
    font-size: 42px;
  }
}
@media screen and (max-width: 895px) {
  .footTitleFonts {
    font-size: 38px;
  }
}
@media screen and (max-width: 895px) {
  .footTitleFonts {
    font-size: 36px;
  }
}
@media screen and (max-width: 770px) {
  .footTitleFonts {
    font-size: 32px;
  }
}
@media screen and (max-width: 470px) {
  .footTitleFonts {
    font-size: 30px;
  }
}

.footSubTitleFonts {
  color: #FFF;
  text-align: right;
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.6px */
}
@media screen and (max-width: 979px) {
  .footSubTitleFonts {
    font-size: 26px;
  }
}
@media screen and (max-width: 895px) {
  .footSubTitleFonts {
    font-size: 24px;
  }
}
@media screen and (max-width: 574px) {
  .footSubTitleFonts {
    font-size: 20px;
  }
}

.footConectSubFonts {
  color: #FFF;
  text-align: right;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
@media screen and (max-width: 979px) {
  .footConectSubFonts {
    font-size: 22px;
  }
}
@media screen and (max-width: 895px) {
  .footConectSubFonts {
    font-size: 20px;
  }
}
@media screen and (max-width: 574px) {
  .footConectSubFonts {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .footConectSubFonts {
    text-align: center;
  }
}

.violetMark {
  color: rgb(214, 31, 218);
}

input {
  border-radius: 30px;
  border: 1px solid #FFF;
  background-color: inherit;
  padding: 16px 30px;
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
}

button {
  width: 219px;
  height: 51px;
  color: #fff;
  border-radius: 20px;
  background-color: #8B1CFB;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  box-shadow: 1px 1px 15px rgba(140, 28, 251, 0.368627451);
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 1px 1px 10px 3px #d8bc1c;
}

.wrapper .header {
  width: 100%;
  background-color: #fff;
}
.wrapper .header .headerWrapper {
  display: flex;
  width: 77.34%;
  max-height: 115px;
  margin: 0 202px;
  justify-content: space-between;
}
@media screen and (max-width: 1401px) {
  .wrapper .header .headerWrapper {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .header .headerWrapper {
    width: 98%;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper {
    flex-direction: column;
  }
}
.wrapper .header .headerWrapper .navLogo {
  margin: 43px 0;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .navLogo {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
  }
}
.wrapper .header .headerWrapper .navLogo .LogoImg {
  width: 155px;
  height: 29px;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .navLogo .LogoImg {
    width: 250px;
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}
.wrapper .header .headerWrapper .burgerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn {
  width: 60px;
  height: 40px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media screen and (min-width: 896px) {
  .wrapper .header .headerWrapper .burgerNav .burger-Btn {
    display: none;
  }
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn span {
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}
@media screen and (max-width: 895px) {
  .wrapper .header .headerWrapper .burgerNav .nav {
    display: none;
  }
}
.wrapper .header .headerWrapper .burgerNav .nav .navList {
  display: flex;
  width: 445px;
  justify-content: space-between;
  margin: 49px 0 47px 0;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink {
  text-decoration: none;
  color: #1B1B20;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink .navItem {
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  transition-duration: 410ms;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink .navItem:hover {
  color: #d8bc1c;
  font-size: 18px;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.wrapper .header .headerWrapper .buttonWrapper .headerButtonLink {
  text-decoration: none;
}
.wrapper .header .headerWrapper .buttonWrapper .headerButtonLink .headerButton {
  margin: 32px 0;
  cursor: pointer;
}
.wrapper .main .section1 {
  width: 100%;
  background-image: url("../secondPage/img/sec1Bg.png");
  background-size: cover;
  background-repeat: repeat;
  padding-bottom: 140px;
}
@media screen and (max-width: 1540px) {
  .wrapper .main .section1 {
    padding-bottom: 90px;
  }
}
.wrapper .main .section1 .section1ContentBlock {
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: 0 auto;
  padding-top: 60px;
}
@media screen and (max-width: 1620px) {
  .wrapper .main .section1 .section1ContentBlock {
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper .main .section1 .section1ContentBlock {
    width: 87%;
  }
}
@media screen and (max-width: 1170px) {
  .wrapper .main .section1 .section1ContentBlock {
    width: 100%;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section1 .section1ContentBlock {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .main .section1 .section1ContentBlock .sec1ImgBlock {
  max-width: 746px;
  max-height: 668px;
  flex-shrink: 10;
}
@media screen and (max-width: 1680px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock {
    max-width: 500px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 1110px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock {
    max-width: 410px;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock {
    max-width: 746px;
  }
}
.wrapper .main .section1 .section1ContentBlock .sec1ImgBlock .sec1Img {
  display: block;
  max-width: 746px;
}
@media screen and (max-width: 1680px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock .sec1Img {
    max-width: 680px;
  }
}
@media screen and (max-width: 1540px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock .sec1Img {
    max-width: 600px;
  }
}
@media screen and (max-width: 599px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock .sec1Img {
    max-width: 470px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 475px) {
  .wrapper .main .section1 .section1ContentBlock .sec1ImgBlock .sec1Img {
    max-width: 325px;
  }
}
.wrapper .main .section1 .section1ContentBlock .sec1InfoBlock {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  margin: 100px 0 0 0;
  align-items: center;
  flex-shrink: 0;
}
.wrapper .main .section1 .section1ContentBlock .sec1InfoBlock .sec1Title {
  margin-bottom: 12px;
}
.wrapper .main .section1 .section1ContentBlock .sec1InfoBlock .subTitle {
  margin-top: 36px;
}
.wrapper .main .section1 .section1ContentBlock .sec1InfoBlock .info {
  margin: 0;
}
@media screen and (max-width: 1310px) {
  .wrapper .main .section1 .section1ContentBlock .sec1InfoBlock .info {
    background-color: rgba(255, 255, 255, 0.3490196078);
    border-radius: 30px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .main .section1 .section1ContentBlock .sec1InfoBlock .info {
    margin: 0 15px;
  }
}
.wrapper .main .section2 .section2ContentBlock {
  border-radius: 20px;
}
.wrapper .main .section2 .section2ContentBlock .sec2Content {
  width: 86%;
  border-radius: 20px;
  background: linear-gradient(95deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  background-position: center;
  border-radius: 20px;
  padding: 82px 0 62px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1545px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content {
    width: 97%;
    padding-top: 40px;
  }
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2TitleBlock {
  text-align: center;
  padding-bottom: 72px;
}
@media screen and (max-width: 1400px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content .sec2TitleBlock {
    padding-bottom: 30px;
  }
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2TitleBlock .sec2Title {
  margin: 0;
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces {
  display: flex;
  gap: 115px;
  justify-content: center;
}
@media screen and (max-width: 1545px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces {
    gap: 45px;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces .sec2Unit {
  width: 33%;
  min-height: 151px;
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces .sec2Unit {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces .sec2Unit {
    width: 90%;
  }
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces .sec2Unit .unitTitle {
  margin-bottom: 32px;
}
.wrapper .main .section2 .section2ContentBlock .sec2Content .sec2UnitsPlaces .sec2Unit .unitSubInfo {
  margin: 0;
}
.wrapper .main .section3 {
  width: 100%;
  background-image: url("..//secondPage/img/sec3bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .main .section3 .section3ContentBlock {
  margin: 0 52px 0 202px;
}
@media screen and (max-width: 1540px) {
  .wrapper .main .section3 .section3ContentBlock {
    margin: 0 52px 0 152px;
  }
}
@media screen and (max-width: 1328px) {
  .wrapper .main .section3 .section3ContentBlock {
    width: 90%;
    margin: 0 auto;
  }
}
.wrapper .main .section3 .section3ContentBlock .sec3Content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info {
  width: 80%;
  padding-top: 150px;
  padding-bottom: 218px;
}
@media screen and (max-width: 1250px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info {
    padding-bottom: 90px;
  }
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3Title {
  padding-bottom: 36px;
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3SubTitle {
  padding-bottom: 12px;
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3Markers {
  padding-top: 12px;
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
  }
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3InfoBtn {
  margin-top: 44px;
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3InfoBtn .sec3Btn {
  width: 219px;
  height: 51px;
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3InfoPlace .sec3Info .sec3InfoBtn .sec3Btn .sec3BtnText {
  text-transform: uppercase;
}
.wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
  max-width: 738px;
}
@media screen and (max-width: 1530px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
    max-width: 620px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
    max-width: 450px;
    margin-top: 160px;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
    max-width: 738px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 740px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
    max-width: 450px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .main .section3 .section3ContentBlock .sec3Content .sec3ImgPlace .sec3Img {
    max-width: 354px;
  }
}
.wrapper .main .section4 .section4ContentBlock {
  width: 94.79%;
  border-radius: 20px;
  background: linear-gradient(95deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  background-color: #626262;
  margin: 80px auto 0 auto;
}
.wrapper .main .section4 .section4ContentBlock .sec4TitleBlock {
  width: 18%;
  padding: 60px 0 48px 115px;
}
@media screen and (max-width: 480px) {
  .wrapper .main .section4 .section4ContentBlock .sec4TitleBlock {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4TitleBlock .sec4Title {
  margin: 0;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content {
  width: 78%;
  background-size: cover;
  margin: 0 0 160px 150px;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}
@media screen and (max-width: 1780px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content {
    align-items: center;
    margin: 0 0 160px 6%;
    width: 87%;
  }
}
@media screen and (max-width: 1555px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content {
    flex-direction: column;
  }
}
@media screen and (max-width: 1170px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams {
  border-radius: 20px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams:last-child {
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams {
    width: 98%;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc {
  border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(95deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  background-size: cover;
  background-position: center;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace {
  padding: 48px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 595px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace {
    padding: 6px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .avatarBlock .avatarTitle {
  margin: 0 0 16px 0;
}
@media screen and (max-width: 460px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .avatarBlock .avatarKey {
    width: 128%;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .avatarBlock .avatarKey:not(:last-child) {
  margin-bottom: 12px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareTitle {
  margin: 0 0 16px 0;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (max-width: 389px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps:not(:last-child) {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 387px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps:not(:last-child) {
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 362px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps:not(:last-child) {
    margin-bottom: 26px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken {
  border-radius: 20px;
  background: linear-gradient(95deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  background-size: cover;
  background-position: center;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock {
  display: flex;
  padding: 48px 0 0 0;
  margin: 0 48px;
}
@media screen and (max-width: 776px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock {
    margin: 0 18px;
  }
}
@media screen and (max-width: 750px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock {
    flex-direction: column;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .titleblockToken .titleToken {
  margin: 0;
}
@media screen and (max-width: 750px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock {
    margin: 0 auto;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder {
  display: flex;
  margin-left: 44px;
  -moz-column-gap: 13px;
       column-gap: 13px;
  border-radius: 6px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding: 8px;
}
@media screen and (max-width: 750px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 560px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media screen and (max-width: 475px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder {
    -moz-column-gap: 1px;
         column-gap: 1px;
  }
}
@media screen and (max-width: 440px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder {
    flex-wrap: wrap;
    -moz-column-gap: 5px;
         column-gap: 5px;
    align-content: center;
    justify-content: center;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder .spacer {
  margin: auto 0;
  height: 21px;
  border: 1px solid #9E89A1;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder .buttonChanger {
  border-radius: 6px;
  padding: 2px 4px;
  cursor: pointer;
  transition-duration: 400ms;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder .buttonChanger:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder .buttonChanger.active {
  border: 1px solid #FFF;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramInfoBlock .timeChangerBlock .buttonsPlacesChanger .buttonHolder .buttonChanger .buttonChangerText {
  margin: 0;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens {
  max-width: 444px;
  height: 252px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: flex-end;
  margin: 24px 0 0 140px;
}
@media screen and (max-width: 776px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens {
    margin: 24px auto 0 auto;
  }
}
@media screen and (max-width: 560px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens {
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 475px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
@media screen and (max-width: 410px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle {
  width: 36px;
  border-radius: 5px;
  background: linear-gradient(187deg, #914FFB 12.2%, #FA31FE 93.97%);
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(1) {
  height: 141px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(1)::after {
  content: "47";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(2) {
  height: 202px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(2)::after {
  content: "79";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(3) {
  height: 182px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(3)::after {
  content: "72";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(4) {
  height: 91px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(4)::after {
  content: "31";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(5) {
  height: 178px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(5)::after {
  content: "68";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(6) {
  height: 232px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(6)::after {
  content: "83";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(7) {
  height: 252px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .diagramTokens .candle:nth-of-type(7)::after {
  content: "89";
  color: #fff;
  margin-left: 8px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames {
  display: flex;
  margin: 24px 0 0 132px;
  padding-bottom: 48px;
  -moz-column-gap: 2px;
       column-gap: 2px;
  max-width: 460px;
}
@media screen and (max-width: 776px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames {
    margin: 24px auto 0 auto;
  }
}
@media screen and (max-width: 560px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames {
    max-width: 405px;
  }
}
@media screen and (max-width: 475px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames {
    max-width: 340px;
  }
}
@media screen and (max-width: 410px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames {
    max-width: 310px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames .candleSubItem {
  width: 65px;
  height: 29px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramYourToken .blockCandleNames .candleSubItem .candleNames {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation {
  border-radius: 20px;
  background: linear-gradient(95deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  background-size: cover;
  background-position: center;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .allocationTitleBlock {
  padding: 48px 0 16px 48px;
}
@media screen and (max-width: 440px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .allocationTitleBlock {
    padding: 38px 0 16px 20px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .allocationTitleBlock .allocationTitle {
  margin: 0;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace {
  display: flex;
  padding: 0 0 48px 48px;
}
@media screen and (max-width: 696px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace {
    flex-direction: column;
  }
}
@media screen and (max-width: 440px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace {
    padding: 0 0 0 25px;
  }
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: 32px;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem {
  margin: 0;
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(1) {
  list-style-image: url("./img/goldLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(2) {
  list-style-image: url("./img/greyLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(3) {
  list-style-image: url("./img/greenLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(4) {
  list-style-image: url("./img/pinLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(5) {
  list-style-image: url("./img/pinLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(6) {
  list-style-image: url("./img/orangeLable.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(7) {
  list-style-image: url("./img/oceanLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingProps .propsList .propsItem:nth-of-type(8) {
  list-style-image: url("./img/purpleLabel.png");
}
.wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingDiagram {
  width: 284px;
  height: 284px;
  margin: 0 48px;
}
@media screen and (max-width: 740px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingDiagram {
    margin: 0 10px;
  }
}
@media screen and (max-width: 710px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingDiagram {
    margin: 0;
  }
}
@media screen and (max-width: 696px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingDiagram {
    align-self: center;
  }
}
@media screen and (max-width: 440px) {
  .wrapper .main .section4 .section4ContentBlock .sec4Content .se4Diagrams .diagramAllocation .contentPlace .usingDiagram {
    margin-bottom: 30px;
  }
}
.wrapper .main .section5 {
  background-image: url("../secondPage/img/sec5Bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .main .section5 .section5ContentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .main .section5 .section5ContentBlock .sec5TitleBlock {
  margin: 0 0 64px 0;
  padding-top: 40px;
}
.wrapper .main .section5 .section5ContentBlock .sec5TitleBlock .sec5Title {
  text-transform: uppercase;
}
.wrapper .main .section5 .section5ContentBlock .sec5Content {
  width: 1105px;
  height: 673px;
  background: url("./img/sec5contentImg.png");
  background-size: cover;
  margin-bottom: 44px;
}
@media screen and (max-width: 1150px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 900px;
    height: 550px;
  }
}
@media screen and (max-width: 901px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 740px;
    height: 450px;
  }
}
@media screen and (max-width: 740px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 655px;
    height: 395px;
  }
}
@media screen and (max-width: 685px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 544px;
    height: 332px;
  }
}
@media screen and (max-width: 550px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 461px;
    height: 288px;
  }
}
@media screen and (max-width: 475px) {
  .wrapper .main .section5 .section5ContentBlock .sec5Content {
    width: 350px;
    height: 210px;
  }
}
.wrapper .main .section5 .section5ContentBlock .sec5ButtonBlock .sec5Button {
  margin-bottom: 32px;
}
.wrapper .footer .footerSection {
  background-color: #fff;
}
.wrapper .footer .footerSection .footerBgSec {
  background-image: url("../secondPage/img/footBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 190px;
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent {
  width: 81%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1370px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent {
    width: 95%;
  }
}
@media screen and (max-width: 1230px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent {
    flex-direction: column;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
  flex-shrink: 1;
}
@media screen and (max-width: 1230px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    width: 40%;
  }
}
@media screen and (max-width: 730px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    width: 10%;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    position: sticky;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
  margin-top: -206px;
  max-width: 563px;
}
@media screen and (max-width: 730px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    max-width: 402px;
    z-index: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    width: 100dvw;
  }
}
@media screen and (max-width: 650px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 350px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    width: 358px;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-end;
  gap: 54px;
  flex-shrink: 0;
  margin-top: 130px;
  z-index: 0;
}
@media screen and (max-width: 1370px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    width: 55%;
    margin-top: 155px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    margin-right: 20px;
  }
}
@media screen and (max-width: 730px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-top: 2px solid #FFF;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footTitle {
  margin: 0;
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footTitle {
    margin: 0 auto;
    padding-top: 10px;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
  margin: 0;
}
@media screen and (max-width: 770px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 730px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 64%;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 80%;
    text-align: center;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
  display: flex;
  row-gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 800px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footInput {
  margin: 0;
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footInput {
    width: 80%;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
  margin: 0;
}
@media screen and (min-width: 451px) and (max-width: 490px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
    width: 178px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
    width: 94%;
  }
}
.wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
  max-width: 526px;
}
@media screen and (max-width: 730px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    padding-bottom: 22px;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    margin: 0 auto;
    width: 80%;
  }
}/*# sourceMappingURL=seconsPage.css.map */