button {
    width: 219px;
    height: 51px;
    color: #fff;
    border-radius: 20px;
    background-color: #8B1CFB;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    box-shadow:1px 1px 15px#8c1cfb5e;
}
.wrapper {
    .header {
        .headerWrapper {
            display: flex;
            max-width: 77.34%;
            max-height: 115px;
            margin: 0 202px;
            justify-content: space-between;
            .navLogo {
                margin: 43px 0;
                .LogoImg {
                    width: 155px;
                    height: 29px;
                }
            }
            .nav {
                
                .navList {
                    display: flex;
                    width: 445px;
                    justify-content: space-between;
                    margin: 49px 0 47px 0;
                    .navItemLink {
                        text-decoration: none;
                        color: #1B1B20;
                        .navItem {
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }
                }
            }
            .buttonWrapper {
                .headerButtonLink {
                    text-decoration: none;
                    .headerButton {
                        margin: 32px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .main {
        .mainWithLinkWrapper {
            width: 100%;
            background-image: url('img/backgroundmain__with__link__bg.png');
            .mainWithLink {
                display: flex;
                .titleArea {
                    margin: 110px 0 0 220px;
                    .mainTitle {
                        max-width: 540px;
                        margin-bottom: 36px;
                    }
                    .mainSubTitle {
                        min-width: 750px;
                        margin-bottom: 60px;
                    }
                    .buttonLinkPlaceholder {
                        display: flex;
                        .buttonItemLink {
                            margin-bottom: 269px;
                            &:nth-child(1) {
                                padding-right: 32px;
                            }
                        }
                    }
                }    
                .imgPlacaholder {
                    .mainCryptoImg {
                        width: 928px;
                        height: 694px;
                        margin-top: 46px;
                    }
                }
            }
        }
        .subInfoMain {
            .subInfoMainBg {
                background-image: url('img/Card__bg__1.png');
                max-height: 453px;
                .subInfoWrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 64.79%;
                    margin: 0 auto;
                    padding: 100px 0    ;
                    .subInfoContent {
                        max-width: 326px;
                        .subInfoContentImg {
                            width: 48px;
                            height: 48px;
                            margin: 0 139px;
                        }
                        .subInfoContentTitle {
                            text-align: center;
                            margin: 24px 0 24px 0;
                        }
                        .subInfoContentP {
                            min-height: 99px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .introducingSec {
        .introducingSecBg {
            background-image: url('img/backgroundbg__of__section__coiin.png');
            background-repeat: no-repeat;
            background-size: cover;
            .introducingWrapper {
                width: 38.75%;
                margin: 0 auto;
                align-items: center;
                .introducingWrapperBlockImg {
                    padding: 28px 0 0 0;
                    .introducingImg {
                        width: 744px;
                    }
                }
                .introducingSupTitleBlock {
                    .itroducingSupTitle {
                        padding: 56px 0 0 0;
                        text-align: center;
                    }
                }
                .introducingTitleBlock {
                    .introducingTitle {
                        margin: 20px 0 36px 0;
                        text-align: center;
                    }
                }
                .introducingSubTitleBlock {
                    .introducingSubTitle {
                        padding-bottom: 101px;
                        text-align: center;
                    }
                }
            }
        }   
    }
    .accessibleSec {
        width: 100%;
        .accessibleSecBg {
            .accessibleWrapper {
                display: flex;
                .accessibleWrapperBlockImg {
                    .accessibleImg {
                        width: 750px;
                        height: 660px;
                    }
                }
                .accessibleTextBlock {
                    max-width: 900px;
                    margin: 168px 0 0 179px;
                    padding-bottom: 280px;
                    border-image: url('img/sec4__bg.png');
                    background-size: contain;
                    .accessibleTitleBlock {
                        max-width: 669px;
                        margin: 0 auto;
                        margin-bottom: 36px;
                        .accessibleTitle {
                            text-align: center;
                        }
                    }
                    .accessibleSubTitleBlock {
                        .accessibleSubTitle {
                            text-align: center;
                        }
                    }
                }
                
            }
        }
    }
    .howYouEarnSec {
        width: 100%;
        .howYouEarnCardWrapper {
            .howYouEarnCard {
                width: 86.14%;
                height: 410px;
                border-radius: 20px;
                border-radius: 20px;
                background: linear-gradient(280deg, #FFF5DD 0%, rgba(170, 86, 254, 0.32) 37.22%, rgba(254, 86, 217, 0.28) 58.14%, rgba(86, 254, 254, 0.28) 100%);
                box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.10), 10px 10px 60px 0px rgba(255, 255, 255, 0.40) inset;
                margin: 0 auto 36px auto;
                .howYouEarnTitle {
                    width: 447px;
                    padding: 60px 604px 48px 605px;
                }
                .stepsItems {
                    display: flex;
                    margin: 0 112px;
                    .stepsBlock {
                        width: 400px;
                        min-height: 110px;
                        margin-right: 115px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .stepsContent {
                            .stepItem {
                                .stepTitleBlock {
                                    padding-bottom: 24px;
                                    .stepTitle {
                                        color: #000;
                                        font-family: 'Inter';
                                        font-size: 32px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 120%;
                                        margin: 0 140px;
                                    }
                                }
                                .stepListBlock {
                                    .stepList {
                                        list-style-type: circle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .presentFitMirSec {
        .presentFitMirSecBg {
            max-width: 1827px;
            height: 1510px;
            margin: 0 auto;
            .presentFitMirTextSec {
                .presentFitMirTextPlaceholder {
                    .fitMirTitlePlacement {
                        .fitMirTitleHolder {
                            padding-bottom: 80px;
                            .fitMirMainTitle {
                                width: 900px;
                                margin: 0 auto;
                                text-align: center;
                                padding-top: 148px;
                            }
                        }
                    }
                }
            }
            .presentFitMirModulesSec {
                .presentFitMirModulesPlaceholder {
                    display: flex;
                    margin: 0 202px;
                    justify-content: space-between;

                    .fitMirSHolder {
                        max-height: 198px;
                        align-items: center;
                        gap: 24px;
                        flex-shrink: 0;
                        .fitMirTitle {
                            width: 337px;
                        }
                        .enfEntry {
                            width: 288px;
                            margin: 24px auto;
                        }
                        .fitMirSubTitle {
                            max-width: 270px;
                            margin: 0 auto;
                        }
                    }
                    .fitMirXHolder {
                        max-height: 198px;
                        align-items: center;
                        gap: 24px;
                        flex-shrink: 0;
                        .fitMirTitle {
                            width: 345px;
                        }
                        .enfEntry {
                            width: 288px;
                            margin: 24px 0 24px 0;
                            margin: 24px auto;
                        }
                        .fitMirSubTitle {
                            max-width: 270px;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .fitMirImgModulesSec {
                .fitMirImgModulesPlaceholder {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 150px;
                    .moduleSPlaceholder {
                        .fitSImg {
                           margin: 0; 
                        }
                        .imgS {
                            margin-top: 50px;
                        }
                    }
                    .girlPresentPlaceholder {
                        .imgGirl {
                            margin-top: -120px;
                        }
                    }
                    .moduleXPlaceholder {
                        .imgX {
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
    .earningCalculatorSec {
        .earningCalculatorSecBg {
            max-width: 1920px;
            height: 1050px;
            background-image: url('img/sec7__bg.png');
            .earningWrapper {
                .earningTitleBlock {
                    text-align: center;
                    .earningTitle {
                        padding: 180px 0 120px 0;
                    }
                }
                .earningCalcConinBlock {
                    display: flex;  
                    margin: 0 115px 0 220px;
                    .earningCalc {
                        width: 638px;
                        max-height: 472px;
                        border-radius: 20px;
                        background: linear-gradient(103deg, rgba(170, 86, 254, 0.32) 1.02%, rgba(255, 112, 223, 0.28) 27.60%, rgba(141, 237, 250, 0.28) 51.56%, rgba(255, 255, 255, 0.00) 100%);
                        .earningCalcTextPlace {
                            display: flex;
                            padding: 60px;
                            .avatarBlock {
                                .avatartTitle {
                                    margin-bottom: 17px;
                                }
                                .avatarKey {
                                    width: 294px;
                                    height: 29px;
                                    margin-bottom: 5px;
                                }
                            }
                            .hardwareBlock {
                                .hardwareTitle {
                                    margin-bottom: 2px;
                                }
                                .hardwareProps {
                                    width: 220px;
                                    height: 29px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                    .earningCoin {
                        .earningCoinImg {
                            width: 679px;
                            height: 578px;
                            margin-left: 286px;
                            margin-top: -40px;
                            .coinImg {
                                width: 679px;
                                height: 578px;
                            }
                        }
                    }
                }
            }
        }
    }
}