@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.mainTitle {
  color: #252525;
  font-size: 64px;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .mainTitle {
    font-size: 54px;
  }
}
@media screen and (max-width: 452px) {
  .mainTitle {
    font-size: 46px;
  }
}
@media screen and (max-width: 400px) {
  .mainTitle {
    font-size: 40px;
  }
}

.mainSubTitle {
  color: #626262;
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 995px) {
  .mainSubTitle {
    font-size: 22px;
  }
}

.recurentTitle {
  color: #1B1B20;
  font-size: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 1010px) {
  .recurentTitle {
    font-size: 50px;
  }
}
@media screen and (max-width: 930px) {
  .recurentTitle {
    font-size: 46px;
  }
}

.recurentSubTitle {
  color: #2D2D2D;
  text-align: center;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.cardTitle_32 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  font-family: "Inter";
  font-style: normal;
  line-height: 120%;
}
@media screen and (max-width: 800px) {
  .cardTitle_32 {
    font-size: 24px;
  }
}

.cardP_24 {
  color: #1B1B20;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 800px) {
  .cardP_24 {
    font-size: 20px;
  }
}

.fs_20 {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.fs_16 {
  color: #1B1B20;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.avatarTitleFonts {
  color: #000;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.avatarKeyFonts {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 460px) {
  .avatarKeyFonts {
    font-size: 22px;
  }
}

.hardwareTitleFonts {
  color: #000;
  text-align: right;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.hardwarePropsFonts {
  color: #626262;
  text-align: right;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 460px) {
  .hardwarePropsFonts {
    font-size: 22px;
  }
}

.fitMirTitle {
  color: #1B1B20;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 730px) {
  .fitMirTitle {
    font-size: 40px;
  }
}

.enfEntry {
  color: #2D2D2D;
  text-align: center;
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 720px) {
  .enfEntry {
    font-size: 20px;
  }
}

.fitMirSubTitle {
  color: #2D2D2D;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 730px) {
  .fitMirSubTitle {
    font-size: 22px;
  }
}

.footTitleFonts {
  color: #FFF;
  font-family: "Inter";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}
@media screen and (max-width: 1190px) {
  .footTitleFonts {
    font-size: 46px;
  }
}
@media screen and (max-width: 979px) {
  .footTitleFonts {
    font-size: 42px;
  }
}
@media screen and (max-width: 895px) {
  .footTitleFonts {
    font-size: 38px;
  }
}
@media screen and (max-width: 895px) {
  .footTitleFonts {
    font-size: 36px;
  }
}
@media screen and (max-width: 770px) {
  .footTitleFonts {
    font-size: 32px;
  }
}
@media screen and (max-width: 470px) {
  .footTitleFonts {
    font-size: 30px;
  }
}

.footSubTitleFonts {
  color: #FFF;
  text-align: right;
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.6px */
}
@media screen and (max-width: 979px) {
  .footSubTitleFonts {
    font-size: 26px;
  }
}
@media screen and (max-width: 895px) {
  .footSubTitleFonts {
    font-size: 24px;
  }
}
@media screen and (max-width: 574px) {
  .footSubTitleFonts {
    font-size: 20px;
  }
}

.footConectSubFonts {
  color: #FFF;
  text-align: right;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
@media screen and (max-width: 979px) {
  .footConectSubFonts {
    font-size: 22px;
  }
}
@media screen and (max-width: 895px) {
  .footConectSubFonts {
    font-size: 20px;
  }
}
@media screen and (max-width: 574px) {
  .footConectSubFonts {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .footConectSubFonts {
    text-align: center;
  }
}

.violetMark {
  color: rgb(214, 31, 218);
}

input {
  border-radius: 30px;
  border: 1px solid #FFF;
  background-color: inherit;
  padding: 16px 30px;
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
}

button {
  width: 219px;
  height: 51px;
  color: #fff;
  border-radius: 20px;
  background-color: #8B1CFB;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  box-shadow: 1px 1px 15px rgba(140, 28, 251, 0.368627451);
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 1px 1px 10px 3px #d8bc1c;
}

.wrapper .header {
  width: 100%;
  background-color: #fff;
}
.wrapper .header .headerWrapper {
  display: flex;
  width: 77.34%;
  max-height: 115px;
  margin: 0 202px;
  justify-content: space-between;
}
@media screen and (max-width: 1401px) {
  .wrapper .header .headerWrapper {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .header .headerWrapper {
    width: 98%;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper {
    flex-direction: column;
  }
}
.wrapper .header .headerWrapper .navLogo {
  margin: 43px 0;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .navLogo {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
  }
}
.wrapper .header .headerWrapper .navLogo .LogoImg {
  width: 155px;
  height: 29px;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .navLogo .LogoImg {
    width: 250px;
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}
.wrapper .header .headerWrapper .burgerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn {
  width: 60px;
  height: 40px;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  transition: 0.4s;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn.activeBurger_Btn .burgerLines {
  background-color: transparent;
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn.activeBurger_Btn .burgerLines::after {
  top: 0;
  transform: rotate(45deg);
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn.activeBurger_Btn .burgerLines::before {
  top: 0;
  transform: rotate(-45deg);
}
@media screen and (min-width: 896px) {
  .wrapper .header .headerWrapper .burgerNav .burger-Btn {
    display: none;
  }
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn .burgerLines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #BB1E99;
  transition: 0.4s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn .burgerLines::after {
  content: "";
  top: 12px;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #BB1E99;
  transition: 0.4s;
}
.wrapper .header .headerWrapper .burgerNav .burger-Btn .burgerLines::before {
  content: "";
  top: -12px;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #BB1E99;
  transition: 0.4s;
}
@media screen and (max-width: 895px) {
  .wrapper .header .headerWrapper .burgerNav .nav {
    display: none;
  }
}
.wrapper .header .headerWrapper .burgerNav .nav .navList {
  display: flex;
  width: 445px;
  justify-content: space-between;
  margin: 49px 0 47px 0;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink {
  text-decoration: none;
  color: #1B1B20;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink .navItem {
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  transition-duration: 410ms;
}
.wrapper .header .headerWrapper .burgerNav .nav .navList .navItemLink .navItem:hover {
  color: #d8bc1c;
  font-size: 18px;
}
@media screen and (max-width: 900px) {
  .wrapper .header .headerWrapper .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.wrapper .header .headerWrapper .buttonWrapper .headerButtonLink {
  text-decoration: none;
}
.wrapper .header .headerWrapper .buttonWrapper .headerButtonLink .headerButton {
  margin: 32px 0;
  cursor: pointer;
}
.wrapper .main .mainWithLinkWrapper {
  width: 100%;
  background-image: url("img/backgroundmain__with__link__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .main .mainWithLinkWrapper .mainWithLink {
  display: flex;
  justify-content: space-between;
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
  flex-shrink: 1;
  margin: 110px 0 0 220px;
}
@media screen and (max-width: 1450px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-left: 195px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-left: 25px;
  }
}
@media screen and (max-width: 790px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-top: 300px;
  }
}
@media screen and (max-width: 620px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-top: 408px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea {
    margin-top: 508px;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .mainTitle {
  max-width: 522px;
  margin-bottom: 36px;
}
@media screen and (max-width: 940px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .mainTitle {
    max-width: 445px;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .mainSubTitle {
  max-width: 743px;
  margin-bottom: 60px;
}
@media screen and (max-width: 940px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .mainSubTitle {
    max-width: 415px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .mainSubTitle {
    max-width: 325px;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder {
  display: flex;
}
@media screen and (max-width: 500px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder {
    flex-direction: column;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder .buttonItemLink {
  margin-bottom: 269px;
}
@media screen and (max-width: 1075px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder .buttonItemLink {
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder .buttonItemLink {
    margin-bottom: 20px;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder .buttonItemLink:nth-child(1) {
  padding-right: 32px;
}
@media screen and (max-width: 940px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .titleArea .buttonLinkPlaceholder .buttonItemLink:nth-child(1) {
    padding-right: 13px;
  }
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder {
  flex-shrink: 0;
}
.wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
  margin-top: 46px;
}
@media screen and (max-width: 1450px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    max-width: 700px;
  }
}
@media screen and (max-width: 1370px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    max-width: 630px;
  }
}
@media screen and (max-width: 1314px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    max-width: 550px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 1115px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    max-width: 435px;
    margin-top: 115px;
  }
}
@media screen and (max-width: 930px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    margin-left: -350px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    max-width: 385px;
  }
}
@media screen and (max-width: 520px) {
  .wrapper .main .mainWithLinkWrapper .mainWithLink .imgPlacaholder .mainCryptoImg {
    margin-left: -368px;
  }
}
.wrapper .main .subInfoMain .subInfoMainBg {
  background-image: url("img/Card__bg__1.png");
  background-size: cover;
}
.wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper {
  display: flex;
  justify-content: space-between;
  width: 64.79%;
  margin: 0 auto;
  padding: 100px 0;
}
@media screen and (max-width: 1370px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper {
    width: 85%;
  }
}
@media screen and (max-width: 1075px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper {
    width: 99%;
  }
}
@media screen and (max-width: 800px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper {
    padding: 60px 0;
  }
}
@media screen and (max-width: 570px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent {
  max-width: 326px;
}
@media screen and (max-width: 980px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent {
    max-width: 33%;
  }
}
@media screen and (max-width: 570px) {
  .wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent {
    max-width: 50%;
  }
}
.wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent .subInfoContentImg {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent .subInfoContentTitle {
  text-align: center;
  margin: 24px 0 24px 0;
}
.wrapper .main .subInfoMain .subInfoMainBg .subInfoWrapper .subInfoContent .subInfoContentP {
  min-height: 99px;
  text-align: center;
}
.wrapper .introducingSec .introducingSecBg {
  background-image: url("img/backgroundbg__of__section__coiin.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingWrapperBlockImg {
  padding: 28px 0 0 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingWrapperBlockImg .introducingImg {
  width: 70%;
}
@media screen and (max-width: 800px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingWrapperBlockImg .introducingImg {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 690px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingWrapperBlockImg .introducingImg {
    width: 70%;
  }
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder {
  width: 38.75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder {
    width: 40%;
  }
}
@media screen and (max-width: 1135px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder {
    width: 45%;
  }
}
@media screen and (max-width: 645px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder {
    width: 60%;
  }
}
@media screen and (max-width: 485px) {
  .wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder {
    width: 81%;
  }
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder .introducingSupTitleBlock .itroducingSupTitle {
  padding: 56px 0 0 0;
  text-align: center;
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder .introducingTitleBlock .introducingTitle {
  margin: 20px 0 36px 0;
  text-align: center;
}
.wrapper .introducingSec .introducingSecBg .introducingWrapper .introducingInfoHolder .introducingSubTitleBlock .introducingSubTitle {
  padding-bottom: 101px;
  text-align: center;
}
.wrapper .accessibleSec {
  width: 100%;
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper {
  display: flex;
}
@media screen and (max-width: 720px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper {
    flex-direction: column;
  }
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleWrapperBlockImg .accessibleImg {
  display: block;
}
@media screen and (max-width: 1150px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleWrapperBlockImg .accessibleImg {
    max-width: 500px;
    margin-top: 150px;
  }
}
@media screen and (max-width: 965px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleWrapperBlockImg .accessibleImg {
    max-width: 470px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleWrapperBlockImg .accessibleImg {
    max-width: 375px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleWrapperBlockImg .accessibleImg {
    max-width: 100%;
    margin-top: 20px;
  }
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock {
  max-width: 900px;
  margin: 168px 0 0 179px;
  padding-bottom: 280px;
  -o-border-image: url("img/sec4__bg.png");
     border-image: url("img/sec4__bg.png");
  background-size: contain;
}
@media screen and (max-width: 1300px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock {
    margin-left: 35px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock {
    margin-top: 125px;
  }
}
@media screen and (max-width: 595px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock {
    margin-left: 0;
  }
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock .accessibleTitleBlock {
  max-width: 669px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock .accessibleTitleBlock .accessibleTitle {
  text-align: center;
}
@media screen and (max-width: 720px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock .accessibleSubTitleBlock {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 595px) {
  .wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock .accessibleSubTitleBlock {
    width: 98%;
  }
}
.wrapper .accessibleSec .accessibleSecBg .accessibleWrapper .accessibleTextBlock .accessibleSubTitleBlock .accessibleSubTitle {
  text-align: center;
}
.wrapper .howYouEarnSec {
  width: 100%;
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard {
  width: 86.14%;
  border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(280deg, #FFF5DD 0%, rgba(170, 86, 254, 0.32) 37.22%, rgba(254, 86, 217, 0.28) 58.14%, rgba(86, 254, 254, 0.28) 100%);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1), 10px 10px 60px 0px rgba(255, 255, 255, 0.4) inset;
  margin: 0 auto 36px auto;
}
@media screen and (max-width: 1075px) {
  .wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard {
    width: 95%;
  }
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .howYouEarnTitle {
  padding: 60px 0 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems {
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  -moz-column-gap: 115px;
       column-gap: 115px;
  margin: 0 auto;
  padding-bottom: 10px;
}
@media screen and (max-width: 720px) {
  .wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems {
    -moz-column-gap: 25px;
         column-gap: 25px;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 40px;
  }
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock {
  width: 33%;
  min-height: 110px;
}
@media screen and (max-width: 480px) {
  .wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock {
    width: 60%;
  }
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock:last-child {
  margin-right: 0;
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock .stepsContent .stepItem .stepTitleBlock {
  padding-bottom: 24px;
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock .stepsContent .stepItem .stepTitleBlock .stepTitle {
  color: #000;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.wrapper .howYouEarnSec .howYouEarnCardWrapper .howYouEarnCard .stepsItems .stepsBlock .stepsContent .stepItem .stepListBlock .stepList {
  margin: 0;
}
.wrapper .presentFitMirSec .presentFitMirSecBg {
  max-width: 1827px;
  margin: 0 auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirTextSec .presentFitMirTextPlaceholder .fitMirTitlePlacement .fitMirTitleHolder {
  padding-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirTextSec .presentFitMirTextPlaceholder .fitMirTitlePlacement .fitMirTitleHolder {
    margin: 0 10px;
  }
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirTextSec .presentFitMirTextPlaceholder .fitMirTitlePlacement .fitMirTitleHolder .fitMirMainTitle {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 148px;
}
@media screen and (max-width: 460px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirTextSec .presentFitMirTextPlaceholder .fitMirTitlePlacement .fitMirTitleHolder .fitMirMainTitle {
    font-size: 42px;
  }
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder {
  display: flex;
  margin: 0 202px;
  justify-content: space-between;
}
@media screen and (max-width: 1165px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder {
    margin: 0 150px;
  }
}
@media screen and (max-width: 1222px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder {
    margin: 0 100px;
  }
}
@media screen and (max-width: 880px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder {
    margin: 0 30px;
  }
}
@media screen and (max-width: 650px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirSHolder {
  max-height: 198px;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirSHolder .fitMirTitle {
  max-width: 337px;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirSHolder .enfEntry {
  width: 288px;
  margin: 24px auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirSHolder .fitMirSubTitle {
  max-width: 270px;
  margin: 0 auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirXHolder {
  max-height: 198px;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirXHolder .fitMirTitle {
  max-width: 345px;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirXHolder .enfEntry {
  max-width: 288px;
  margin: 24px 0 24px 0;
  margin: 24px auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .presentFitMirModulesSec .presentFitMirModulesPlaceholder .fitMirXHolder .fitMirSubTitle {
  max-width: 270px;
  margin: 0 auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec {
  margin: 0 auto;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -100px;
  width: 100%;
}
@media screen and (max-width: 1222px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder {
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder {
    margin-top: -60px;
  }
}
@media screen and (max-width: 650px) {
  .wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder {
    margin-top: 20px;
  }
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .moduleSPlaceholder {
  width: 12%;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .moduleSPlaceholder .fitSImg {
  margin: 0;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .moduleSPlaceholder .imgS {
  max-width: 100%;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .girlPresentPlaceholder {
  width: 32%;
  margin-left: 7%;
  margin-right: 6%;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .girlPresentPlaceholder .imgGirl {
  width: 100%;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .moduleXPlaceholder {
  width: 15%;
}
.wrapper .presentFitMirSec .presentFitMirSecBg .fitMirImgModulesSec .fitMirImgModulesPlaceholder .moduleXPlaceholder .imgX {
  width: 100%;
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg {
  max-width: 1920px;
  min-height: 1050px;
  background-image: url("img/sec7__bg.png");
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningTitleBlock {
  text-align: center;
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningTitleBlock .earningTitle {
  padding: 180px 0 120px 0;
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1225px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1090px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc {
  border-radius: 20px;
  background: linear-gradient(103deg, rgba(170, 86, 254, 0.32) 1.02%, rgba(255, 112, 223, 0.28) 27.6%, rgba(141, 237, 250, 0.28) 51.56%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 1090px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc {
    margin: 20px 0 40px 0;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace {
  display: flex;
  padding: 60px;
}
@media screen and (max-width: 1340px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace {
    padding: 40px;
  }
}
@media screen and (max-width: 610px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace {
    padding: 15px;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .avatarBlock .avatartTitle {
  margin-bottom: 17px;
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .avatarBlock .avatarKey {
  max-width: 294px;
  min-height: 29px;
  margin-bottom: 5px;
}
@media screen and (max-width: 483px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .avatarBlock .avatarKey {
    margin-bottom: 25px;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareTitle {
  margin-bottom: 2px;
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
  width: 220px;
  height: 29px;
  margin-bottom: 5px;
}
@media screen and (max-width: 515px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 483px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 455px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 26px;
    max-width: 130px;
  }
}
@media screen and (max-width: 423px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 31px;
  }
}
@media screen and (max-width: 389px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 367px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCalc .earningCalcTextPlace .hardwareBlock .hardwareProps {
    margin-bottom: 38px;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
  width: 100%;
  margin-left: 286px;
  margin-top: -40px;
}
@media screen and (max-width: 1630px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
    margin-left: 82px;
  }
}
@media screen and (max-width: 1500px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
    margin-left: 32px;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
    margin-left: 0;
  }
}
@media screen and (max-width: 1225px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
    margin-top: 10%;
  }
}
@media screen and (max-width: 1090px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg .coinImg {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg .coinImg {
    width: 90%;
  }
}
@media screen and (max-width: 1300px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg .coinImg {
    width: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .wrapper .earningCalculatorSec .earningCalculatorSecBg .earningWrapper .earningCalcConinBlock .earningCoin .earningCoinImg .coinImg {
    width: 100%;
  }
}

.footer .footerSection {
  background-color: #fff;
}
.footer .footerSection .footerBgSec {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 190px;
}
.footer .footerSection .footerBgSec .footerSectionContent {
  width: 81%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1370px) {
  .footer .footerSection .footerBgSec .footerSectionContent {
    width: 95%;
  }
}
@media screen and (max-width: 1230px) {
  .footer .footerSection .footerBgSec .footerSectionContent {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent {
    flex-direction: column;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
  flex-shrink: 1;
}
@media screen and (max-width: 1230px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    width: 40%;
  }
}
@media screen and (max-width: 730px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    width: 10%;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock {
    position: sticky;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
  margin-top: -206px;
  max-width: 563px;
}
@media screen and (max-width: 730px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    max-width: 402px;
    z-index: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    width: 100dvw;
  }
}
@media screen and (max-width: 650px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 350px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footImgBlock .footImg {
    width: 358px;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-end;
  gap: 54px;
  flex-shrink: 0;
  margin-top: 130px;
  z-index: 0;
}
@media screen and (max-width: 1370px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    width: 55%;
    margin-top: 155px;
  }
}
@media screen and (max-width: 1250px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    margin-right: 20px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-top: 2px solid #FFF;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footTitle {
  margin: 0;
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footTitle {
    margin: 0 auto;
    padding-top: 10px;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
  margin: 0;
}
@media screen and (max-width: 770px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 730px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 64%;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footSubTitle {
    width: 80%;
    text-align: center;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
  display: flex;
  row-gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 800px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footInput {
  margin: 0;
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footInput {
    width: 80%;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
  margin: 0;
}
@media screen and (min-width: 451px) and (max-width: 490px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
    width: 178px;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectBlock .footButton {
    width: 94%;
  }
}
.footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
  max-width: 526px;
}
@media screen and (max-width: 730px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    padding-bottom: 22px;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .footer .footerSection .footerBgSec .footerSectionContent .footInfoBlock .footConectSub {
    margin: 0 auto;
    width: 80%;
  }
}/*# sourceMappingURL=StyleMobileScss.css.map */